body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(242, 247, 248);
}

p {
    margin: 0;
}

hr {
    color: white;
}

.input-login {
    width: 100%;
    height: 2.5rem;
}

.input-tipo {
    width: 103%;
    height: 2.5rem;
}

.nome-tipo {
    color: 
}

.logo {
    color: #87cefa;
    font-size: 8rem;
}

.card-top {
    text-align: center;
    padding: 2rem 5rem;
}

.card-group {
    padding: 0 2rem;
}

.link-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2rem 0.5em;
}

.btn_acessar {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(0, 157, 255);
    color: white;
    font-weight: lighter;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin: 1rem 0;
}

.first-column{
    text-align: center;
    padding-top: 2rem;

}

.card--group {
    text-align: right;
    padding: 1rem 2rem 0;
}

.login{
    display: flex;
    padding: 0 2rem;
}

.social-media > a {
    text-decoration: none;
    color: rgb(0, 157, 255);
    font-size: 2rem;
    padding: 0 0.5rem;
}

.social-media {
    text-align: center;
    padding-bottom: 1rem;
}

.btn-login {
    margin-left: 0.5rem;
}

.logo-cadastro {
    color: #87cefa;
    padding-top: 1rem;
    font-size: 2rem;
    padding-right: 1rem;
}

.bg-navbar {
    background-color: rgb(0, 157, 255);
}

.bg-navbar > ul,
ul > a {
    list-style-type: none;
    color: white !important;
    font-size: 1.2rem;
    text-decoration: none;
}

.fa-user-circle {
    color: white;
    font-size: 2rem;
    padding-left: 0.7rem;
}

.user {
    display: flex;
 }

.user-name {
    color: white;
    padding-top: 0.3rem;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.logo-navbar {
    color: #87cefa;
    font-size: 2.5rem;
}

.title {
    text-align: center;
    padding: 2rem 0 1rem;
    font-weight: bold;
}

.img-receita {
    max-width: 100%;
    max-height: auto;
}

.carousel-item {
    height: 200px;
    width: 100%;
}

.carousel {
    padding-bottom: 1rem;
}

.navbar {
    padding-right: 0;
    padding-left: 0;
}

.card-exercicios,
.card-text,
.text-muted {
    background-color: #f5c000;
    color: white;
}

.video-exercicio {
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

.btn-link {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

.card-header {
    background-color: #87cefa;
}

.card-body > a {
    color: black !important;
}

.input-datetime {
    display: ; 
}

footer {
    padding: 0.8rem 0.5rem;
    background-color: rgb(0, 157, 255);
    margin-top: 2rem;
    color: white;
}