body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(242, 247, 248);
}

p {
    margin: 0;
}

hr {
    color: white;
}

.input-login {
    width: 100%;
    height: 2.5rem;
}

.input-tipo {
    width: 103%;
    height: 2.5rem;
}

.logo {
    color: #87cefa;
    font-size: 8rem;
}

.card-top {
    text-align: center;
    padding: 2rem 5rem;
}

.card-group {
    padding: 0 2rem;
}

.link-checkbox {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 2rem 0.5em;
}

.btn_acessar {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(0, 157, 255);
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    margin: 1rem 0;
}

.btn_acessar:hover {
    background-image: linear-gradient( to right, #0184a5, #35dcd4);
}

.btn-add-glicemia {
    margin-top: 0.5rem !important;
}

.first-column {
    text-align: center;
    padding-top: 2rem;
}

.card--group {
    text-align: right;
    padding: 1rem 2rem 0;
}

.login {
    display: flex;
    padding: 0 2rem;
}

.social-media > a {
    text-decoration: none;
    color: rgb(0, 157, 255);
    font-size: 2rem;
    padding: 0 0.5rem;
}

.social-media {
    text-align: center;
    padding-bottom: 1rem;
}

.btn-login {
    margin-left: 0.5rem;
}

.logo-cadastro {
    color: #87cefa;
    padding-top: 1rem;
    font-size: 2rem;
    padding-right: 1rem;
}

.bg-navbar {
    background-color: rgb(0, 157, 255);
}

.bg-navbar > ul,
ul > a {
    list-style-type: none;
    color: white !important;
    font-size: 1.2rem;
    text-decoration: none;
}

.fa-user-circle {
    color: white;
    font-size: 2rem;
    padding-left: 0.7rem;
}

.user {
    display: flex;
}

.user-name {
    color: white;
    padding-top: 0.3rem;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
}

.logo-navbar {
    color: #87cefa;
    font-size: 2.5rem;
}

.title {
    text-align: center;
    padding: 2rem 0 1rem;
    font-weight: bold;
}

.title-receitas {
    text-align: center;
    padding: 2rem 1rem 1rem;
    font-weight: bold;
    color: black;
}

.img-receita {
    max-width: 100%;
    min-height: auto;
}

.carousel-item {
    height: 290px;
    width: 100%;
}

.carousel {
    padding-top: 1rem;
}

.receita-title > a {
    color: rgb(0, 157, 255) !important;
    text-decoration: underline;
}

.text-mais {
    font-size: 1.2rem;
    padding: 1rem;
    color: black;
    text-align: justify;
}

.navbar {
    padding-right: 0;
    padding-left: 0;
}

.card-exercicios,
.card-text,
.text-muted {
    background-color: #363636;
    color: white;
}

.video-exercicio {
    width: 100%;
    height: auto;
    padding-top: 1rem;
}

.btn-link {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

.accordion-button {
    background-color: #87cefa !important;
}

.accordion-body > a {
    color: black !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
}

.accordion {
    margin-top: 3rem;
}

.input-datetime {
    display: block;
}

.text-avalie {
    padding-top: 2rem;
    text-align: justify;
}

.logo-avalie {
    color: #87cefa;
    font-size: 5rem;
    padding-bottom: 1rem;
}

.card-top-avalie {
    text-align: center;
    padding: 2rem 5rem 0;
}

.btn-avalie {
    margin: 2rem 2rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: initial;
}
  
.container__aluno {
    width: 200px;
    margin: 20px;
}
  
.container__aluno-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.aluno-name {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.logo-conheca {
    color: #87cefa;
    font-size: 6rem;
    padding-bottom: 1rem;
}

.card-top-conheca {
    text-align: center;
    padding: 2rem 2rem 0;
    display: flex;
}

.card-top-conheca > h5 {
    align-items: center;
}

.card-top-title {
    margin: auto 0;
    font-size: 1.5rem;
}

.text-conheca {
    text-align: justify;
    font-size: 1.2rem;
    margin: 1rem;
}

footer {
    padding: 0.8rem 0.5rem;
    background-color: rgb(0, 157, 255);
    margin-top: 3rem;
    color: white;
    font-size: 0.8rem;
}

@media screen and (min-width: 425px) {
    .carousel-item {
        height: 350px;
    }
    .delete-all,
    .button-check-all {
        padding: 0.6rem 1rem !important;
    }
    .the-two-buttons {
        margin-top: 3rem;
    }
    .medicao {
        margin: 0 1.5rem;
    }
    .input-tipo {
        width: 102%;
    }
}

@media screen and (min-width:768px) {
    .cadastro {
        margin: 0 5rem;
    }
    .input-tipo {
        width: 101%;
    }
    .img-receita {
        min-height: fit-content !important;  
        background-size: auto;
    }
    .carousel-item {
        height: 450px;
        width: 100%;
    }
    .carrossel {
        margin: 0 2rem;
    }
    .noticias {
        margin: 0 3rem;
    }  
    #noticias {
        margin: 0 2rem;
    }
    .delete-all,
    .button-check-all {
        padding: 0.6rem 1rem !important;
        font-size: 2rem;
    }
    .medicao {
        margin: 0 4rem;
    }
    .login-page {
        margin: 0 8rem;
    }
    .text-footer {
        padding: 0 2rem;
    }
    .text-avalie {
        padding-top: 2rem;
        text-align: justify;
    }
    .logo-avalie {
        font-size: 6rem;
    }    
    .input-avalie {
        width: 100%;
    }
    .btn-avalie {
        margin: 2rem 2rem 0;
    }
    .avalie {
        padding: 0 5rem;
    }
    .logo-conheca {
        padding: 0 1rem 1rem;
    }
    .card-top-conheca {
        padding: 2rem 10rem 0;
    }
    .text-conheca {
        margin: 1rem 2rem;
    }
}

@media screen and (min-width:1024px) {
    .img-receita {
        max-width: 100%;
        height: auto;
    }
    .carousel-item {
        height: 450px;
    }
    .noticias {
        margin: 0 10rem;
    }  
    #noticias {
        margin: 0 7rem;
    }
    .card-video {
        margin: 0 5rem;
    }
    .cadastro {
        margin: 0 10rem;
    }  
    .text-mais {
        text-align: center;
    }
    .login-page {
        margin: 0 25rem;
    }
    .avalie {
        padding: 0 10rem;
    }
    .text-conheca {
        margin: 1rem 5rem;
    }
}

@media screen and (min-width:1440px) { 
    .cadastro {
        margin: 0 20rem;
    }
    .noticias {
        margin: 0 23rem;
    }
    #noticias {
        margin: 0 20rem;
    }
    .card-video {
        margin: 0 18rem !important;
    }
    .carousel-item {
        height: 450px;
    }
    .card-video {
        margin: 0 10rem;
    }
    .conteudo-header {
        padding: 0 12rem;
    }
    .text-footer {
        padding: 0 10rem;
    }
    .login-page {
        margin: 0 30rem;
    }
    .navbar,
    .p-4 {
        padding-right: 10rem !important;
        padding-left: 10rem !important;
    }
    .avalie {
        padding: 0 25rem;
    }
}