* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.header {
    color: black;
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.task-input {
    width: 35%;
    padding: 15px; 
    border-radius: 10px;
    margin: 0;
    float: left;
}

.datetime-input {
    width: 65%;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
}

.task-input:hover {
    transform: scale(1.01);
}

.error {
    color: red;
    padding: 5px;
    text-align: center;
}

#buttonAdd {
    margin: 0;
}

.btn_acessar:hover {
    cursor: pointer;
}

.list-item {
    list-style: none;
    align-items: flex-end;
    padding: 1rem;
}

.list-text {
    display: inline;
    margin: 0;
    margin-bottom: 5px;
}

.task-list {
    padding-left: 0;
}

.delete-task {
    background-color: white;
    border: none;
    display: block;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.delete-task:hover {
    transform: scale(1.1);
}

.checkbox {
    background-color: white;
    margin: 0 20px;
    box-shadow: 2px 2px 5px black;
    transform: scale(1.5);
    margin-bottom: 10px;
}

.checkbox:checked {
    transform: scale(1.7);
    text-decoration: line-through;
    margin-bottom: 10px;
}

.list-item:checked{
    text-decoration: line-through;
}

.button-check-all {
    display: block;
    float: left;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1rem !important;
}

.button-check-all:hover {
    transform: scale(1.1);
}

.delete-all {
    display: block;
    float: left;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 15PX;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1rem !important;
}

.delete-all:hover {
    transform: scale(1.1);
}

.the-two-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (min-width: 425px) {

    .button-check-all,
    .delete-all {
        padding: 5px;
        font-size: 0.8rem;
    }

}